p {
  font-family: 'Play', sans-serif;
  text-align: justify;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.5px;
    }
h1{
  font-family: 'Prosto One', cursive;  
  text-align: center;
    }
h2{
  font-family: 'Prosto One', cursive;
  font-size: 19px;}
     body{
       background-color:  #fcf9f0;       
     }
     .page{
       width: 1300px;    
       background-color:  #fcf9f0;   
       margin: justify;
       padding: 50px;
       padding-top: 30px;
    }
    .vis-container{
      width: 100%;
      padding-left: 10px;
      margin-top: 30px;
     
    }
    .description h2, h1{
      margin-top:0px;
    }
    .description-right {
      
      margin-top: 30px;
      margin-bottom: 20px;
      height: 20vw;
      width: 25vw;
     
    }
    .description-right {
      
      margin-top: 30px;
      margin-bottom: 20px;
      position:absolute;
      right:220px
     
    }
    .description-left{
    
      margin-top: 30px;
      margin-bottom: 20px;
      height: 20vw;
      width: 25vw;
    }
    .pure-g{
      margin-bottom: 50px;
    }
    .small-font{
        font-size: 17px;
    }
    .vis3{
      position:absolute;
      right:10px
    }
   
  







